translation_fr.pck filter=lfs diff=lfs merge=lfs -text
translation_ja.pck filter=lfs diff=lfs merge=lfs -text
translation_pt_BR.pck filter=lfs diff=lfs merge=lfs -text
translation_uk.pck filter=lfs diff=lfs merge=lfs -text
translation_vi.pck filter=lfs diff=lfs merge=lfs -text
translation_zh_CN.pck filter=lfs diff=lfs merge=lfs -text
translation_zh_TW.pck filter=lfs diff=lfs merge=lfs -text
translation_bg.pck filter=lfs diff=lfs merge=lfs -text
translation_pl.pck filter=lfs diff=lfs merge=lfs -text
translation_pt_PT.pck filter=lfs diff=lfs merge=lfs -text
translation_ru.pck filter=lfs diff=lfs merge=lfs -text
translation_tr.pck filter=lfs diff=lfs merge=lfs -text
_core00.pck filter=lfs diff=lfs merge=lfs -text